<div id="content-page" class="content-page">
  <div class="container">
    <div class="row">
      <div class="header-for-bg">
        <div class="background-header position-relative">
          <img src="../assets/images/page-img/profile-bg6.jpg" class="img-fluid w-100" alt="header-bg">
          <div class="title-on-header">
            <div class="data-block">
              <h2>List Events</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4" *ngFor="let p of listEvent">
          <div class="d-grid gap-3 d-grid-template-1fr-19">
            <div class="">
              <div class="card rounded  mb-0">
                <div class="event-images">
                  <a href="#">
                    <img src="../assets/images/page-img/51.jpg" class="img-fluid" alt="Responsive image">
                  </a>
                </div>
                <div class="card-body">
                  <div class="d-flex">
                    <div class="date-of-event">

                    </div>
                    <div class="events-detail ms-3">
                      <h5><a>name : {{p.name}} </a></h5>
                      <p>{{p.place}}</p>
                      <div class="event-member">
                        <div class="iq-media-group">
                          <a href="#" class="iq-media">
                            <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/05.jpg" alt="">
                          </a>

                          <a href="#" class="iq-media">
                            <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/07.jpg" alt="">
                          </a>
                          <a href="#" class="iq-media">
                            <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/08.jpg" alt="">
                          </a>
                          <a href="#" class="iq-media">
                            <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/09.jpg" alt="">
                          </a>
                        </div>
                        <button class="btn btn-success" (click)="affectUserToEvent(user.id,p.id)">participate</button>
                        <a   class="btn btn-primary d-block mt-3" (click)="upData(p)"> Detail </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
