
<mat-card>
    <mat-action-list>
        <li>
        <a> <button mat-list-item [routerLink]="['/accueil']" >
            <mat-icon mat-list-icon>home</mat-icon> Acceuil</button>
        </a>
        </li>
        <div mat-subheader>Available Quizzes</div>
       
            <li>
            <a> <button mat-list-item [routerLink]="['/quizzuser/0']" >
                <mat-icon mat-list-icon>quiz</mat-icon> All Quizzes</button>
            </a>
            </li>
           <li>
            <a> <button [routerLink]="['/quizzuser/' +c.cid]" mat-list-item *ngFor="let c of categories" >
                <mat-icon mat-list-icon>quiz</mat-icon> {{c.title}}</button>
            </a>
            </li>
           
    </mat-action-list>
</mat-card>
{{categories|json}}